.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  font-size: 22px;
}

.landing-page-carousel img {
  border-radius: 20%;
}
